<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <add name="DataBaseRecette" connectionString="Data Source=srv-sqlusi14\usi;Initial Catalog=USI_Recette;Persist Security Info=True;User ID=usiuser;Password=usiuser;Application Name=Bfp; Connect Timeout=0;" providerName="System.Data.SqlClient"/>
    <add name="Developpement mpf" connectionString="Data Source=srv-sqlusi14\usi;Initial Catalog=USI_Recette;Persist Security Info=True;User ID=usiuser;Password=usiuser;Application Name=Bfp; Connect Timeout=0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BaseDeDonnees" value="Developpement mpf"/>
    <add key="ActiveDirectoryLoginWindows" value="SAMAccountName"/>
    <add key="FkModule" value="6"/>
    <add key="CommandTimeout" value="3600"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
